{% block title %}Registro de usuarios{% endblock %}
{% block content %}
    <form action="" method="post">
        <label for="area">Área: </label>
        <input type="text" id="name" name="name" /><br>

        <label for="email">Perimetro: </label>
        <input type="text" id="email" name="email" /><br>

        <label for="password">Cantidad Vertices: </label>
        <input type="password" id="password" name="password" /><br>

        <input type="submit" id="send-signup" name="signup" value="Predecir" />
    </form>
{% endblock %}